
@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<section class="container">
    <div class="row text-center p-3">
        <div class="col">
            <h1>Mis proyectos</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <p>Mis proyectos</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="img-fluid"
                 src="~/Content/img/proyecto1.png" />
        </div>
        <div class="col">
            <img class="img-fluid"
                 src="~/Content/img/proyecto2.png" />
        </div>
        <div class="col">
            <img class="img-fluid"
                 src="~/Content/img/proyecto3.png" />
        </div>
    </div>
</section>
