@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<section>
    <div class="row">
        <div class="col">
            <h1>Hola, Soy Missel Gallardo</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Hola, soy Missel, tengo 21 años y soy estudiante de informática en UABC, específicamente en Mexicali en la Facultad de Ciencias Administrativas.
            </p>
            <p>
                El mundo de la tecnología me parece bastante interesante y enorme, esta en ti poder crear cualquier cosa, en tu propia creatividad desarrollar lo que tu mente desea.

            </p>
            <p>
                Me gusta el manejo de base de datos especificamente en ORACLE y SQL, al igual que el mantenimiento de equipo de cómputo.
            </p>
            <p>
                Además de gustarme la tecnología me encanta el arte, especificamente la pintura y el dibujo.
            </p>
</div>
    </div>
 
</section>