@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="col">
            <h2>Hola, soy Missel Gallardo</h2>
            <p>Lorem ipsum dolor</p>
            <a class="btn btn-secondary"
               href="@Url.Action("Index","Home")">Mi trabajo</a>
        </div>
        <div class="col">
            <img class="img-fluid"
                 src="~/Content/img/inicio.png" />
        </div>
    </div>
</div>



